<template>
  <div class="card">
    <div class="card-body">
        <form @submit.prevent="addManufacturer">
          <h5> Add Manufacturer </h5>
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Insert Name" v-model="manufacturerName"/>
              <input type="text" class="form-control" placeholder="Insert Country" v-model="manufacturerCountry"/>
              <input type="text" class="form-control" placeholder="Insert Address" v-model="manufacturerAddress"/>
              <input type="text" class="form-control" placeholder="Insert City" v-model="manufacturerCity"/>
              <input type="submit" class="btn btn-success" value="Add"/>
          </div>
          </form>
      </div>
  </div>
</template>

<script>
import {AXIOS} from '@/components/http-commons.js'
//import axios from 'axios'
import 'bootstrap/dist/css/bootstrap.css'
export default {

    data() {
        return {
            manufacturerName: "",
            manufacturerCountry: "",
            manufacturerAddress: "",
            manufacturerCity: "",
        };
    },
    methods: {
      addManufacturer() {
        console.log("addManufacturer");
          AXIOS.post("/manufacturers/", {
          //axios.post("http://localhost:8080/manufacturers/", {
          name: this.manufacturerName,
          country: this.manufacturerCountry,
          manufacturerDetails: {
            address: this.manufacturerAddress,
            city: this.manufacturerCity,
          },   
        },
        { 
          auth: {
             username:  this.$store.getters.getUserName,
             password:  this.$store.getters.getUserPass
             }
        }
        )
        .then(response => {
              console.log(response);
              console.log('Authenticated');
              this.$toasted.show("Manufacturer successfully added..!");
              this.$emit('getAllManufacturersByPage');
              this.manufacturerName = "";
              this.manufacturerCountry = "";
              this.manufacturerAddress = "";
              this.manufacturerCity = "";
        })
        .catch((error) => {
            if(error.response.status === 404 || error.response.status === 403){ 
              alert(error.response.data.message)
            } else {
            alert('Internal Error');
            }
          console.log(error.response.data)
          console.log(error.response.status)
          console.log(error.response.headers) 
        });
        console.log(this);        
      },
    }
}

</script>

<style scoped>
h2,h5,h4 {
  text-align:left;
}
.card {
  max-width:350px;
}

.form-group {
  text-align:left;
  display:block; /* display not in-line */

}
.form-control {
  margin-left:0px;
  max-width:250px;
  margin-right:10px;
  margin-bottom:10px;
}
</style>
