<template>
  <div class="card">
      <div class="card-body">
      <h5> Add Make for Manufacturer </h5>
      <form @submit.prevent="addMakeForManufacturer">
          <div class="form-group">
          <input type="text" class="form-control" placeholder="Write Manufacturer ID" v-model="manufacturerId"/>
          <input type="text" class="form-control" placeholder="Write Make ID" v-model="makeId"/>
          <input type="submit" class="btn btn-success" value="Add"/>
          </div>
      </form>
      </div>
  </div>
</template>

<script>
import {AXIOS} from '@/components/http-commons.js'
import 'bootstrap/dist/css/bootstrap.css'
export default {

    data() {
        return {
            manufacturerId: "",
            makeId: "",
        };
    },
    methods: {
    addMakeForManufacturer() {
      console.log("addMakeForManufacturer");
      AXIOS.post("manufacturers/"+this.manufacturerId+"/makes/"+this.makeId, {},
        { 
          auth: {
             username:  this.$store.getters.getUserName,
             password:  this.$store.getters.getUserPass
             }
        }
      )
      .then(response => {
            console.log(response);
            console.log('Authenticated');
            this.$toasted.show("Make successfully added to Manufacturer");
            this.$emit('setManufacturerId',this.manufacturerId);
            this.$emit('searchMakes');
            this.manufacturerId="";
            this.makeId="";
      })
      .catch((error) => {
        if(error.response.status === 404 || error.response.status === 403){ 
          alert(error.response.data.message)
        } else {
        alert('Internal Error');
        }
        this.manufacturerId="";
        this.makeId="";
        console.log(error.response.data)
        console.log(error.response.status)
        console.log(error.response.headers) 
      });
      console.log(this);
      },
    }
}

</script>

<style scoped>
h2,h5,h4 {
  text-align:left;
}
.card {
  max-width:350px;
}

.form-group {
  text-align:left;
  display:block; /* display not in-line */

}
.form-control {
  margin-left:0px;
  max-width:250px;
  margin-right:10px;
  margin-bottom:10px;
}
</style>
