<template>
  <div class="card">
      <div class="card-body">
      <h5> Delete Make for Manufacturer </h5>
      <form @submit.prevent="deleteMakeForManufacturer">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Write Manufacturer ID" v-model="manufacturerId"/>
              <input type="text" class="form-control" placeholder="Write Make ID" v-model="makeId"/>
              <input type="submit" class="btn btn-danger" value="Delete"/>
          </div>
      </form>
      </div>
  </div>
</template>

<script>
import {AXIOS} from '@/components/http-commons.js'
import 'bootstrap/dist/css/bootstrap.css'
export default {

    data() {
        return {
            manufacturerId: "",
            makeId: "",
        };
    },
    methods: {
      deleteMakeForManufacturer() {
        console.log("deleteMakeForManufacturer");
        AXIOS.delete("/manufacturers/"+this.manufacturerId+"/makes/"+this.makeId,
        { 
          auth: {
             username:  this.$store.getters.getUserName,
             password:  this.$store.getters.getUserPass
             }
        }
        )
        .then(response => {
              console.log('Authenticated');
              console.log(response);
              this.$toasted.show("Make successfully deleted from Manufacturer");
              this.$emit('setManufacturerId',this.manufacturerId);
              this.$emit('searchMakes');
              this.makeId="";
              this.manufacturerId=""
        })
        .catch((error) => {
          if(error.response.status === 404 || error.response.status === 403){ 
            alert(error.response.data.message)
          } else {
          alert('Internal Error');
          }
          this.makeId="";
          this.manufacturerId="";
          console.log(error.response.data)
          console.log(error.response.status)
          console.log(error.response.headers)
          
        });
        console.log(this);
        },
    }
}

</script>

<style scoped>
h2,h5,h4 {
  text-align:left;
}
.card {
  max-width:350px;
}

.form-group {
  text-align:left;
  display:block; /* display not in-line */

}
.form-control {
  margin-left:0px;
  max-width:250px;
  margin-right:10px;
  margin-bottom:10px;
}
</style>
