<template>
  <div class="card">
      <div class="card-body">
      <h5> Search Manufacturer </h5>
          <form @submit.prevent="getManufacturer">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Write Manufacturer ID" v-model="manufacturerId"/>
              <input type="submit" class="btn btn-primary" value="Search"/>
          </div>
          <div class="form-group">
              <h6>Name: <b>{{manufacturerName}}</b></h6>
              <h6>Country: <b>{{manufacturerCountry}}</b></h6>
              <h6>Address: <b>{{manufacturerAddress}}</b></h6>
              <h6>City: <b>{{manufacturerCity}}</b></h6>
          </div>
          </form>
      </div>
  </div>
</template>

<script>
import {AXIOS} from '@/components/http-commons.js'
import 'bootstrap/dist/css/bootstrap.css'
export default {

    data() {
        return {
            manufacturerId: "",
            manufacturerName: "",
            manufacturerCountry: "",
            manufacturerAddress: "",
            manufacturerCity: "",
        };
    },
    methods: {
      getManufacturer() {
        console.log("getManufacturer");
        AXIOS.get("/manufacturers/"+this.manufacturerId)
        .then(response => {
              console.log('Authenticated');
              this.manufacturerName = response.data.name;
              this.manufacturerCountry = response.data.country;
              this.manufacturerAddress = response.data.manufacturerDetails && response.data.manufacturerDetails.address;
              this.manufacturerCity = response.data.manufacturerDetails && response.data.manufacturerDetails.city;
              this.$toasted.show("Manufacturer successfully found..!");
              console.log(response.data.name)
        })
        .catch((error) => {
          if(error.response.status === 404 || error.response.status === 403){ 
            alert(error.response.data.message)
          } else {
          alert('Internal Error');
          }
          console.log(error.response.data)
          console.log(error.response.status)
          console.log(error.response.headers) 
        });
        console.log(this);
        this.manufacturerId = ""
      },
    }
}

</script>

<style scoped>
h2,h5,h4 {
  text-align:left;
}
.card {
  max-width:350px;
}

.form-group {
  text-align:left;
  display:block; /* display not in-line */

}
.form-control {
  margin-left:0px;
  max-width:250px;
  margin-right:10px;
  margin-bottom:10px;
}
</style>
