<template>
  <div class="card">
    <div class="card-body">
      <h5> Edit Manufacturer </h5>
        <form @submit.prevent="updateManufacturer">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Write ID" v-model="manufacturerId"/>
              <input type="text" class="form-control" placeholder="Edit Name" v-model="manufacturerName"/>
              <input type="text" class="form-control" placeholder="Edit Country" v-model="manufacturerCountry"/>
              <input type="text" class="form-control" placeholder="Edit Address" v-model="manufacturerAddress"/>
              <input type="text" class="form-control" placeholder="Edit City" v-model="manufacturerCity"/>
              <input type="submit" class="btn btn-info" value="Edit"/>
          </div>
      </form>
    </div>
  </div>
</template>

<script>
import {AXIOS} from '@/components/http-commons.js'
import 'bootstrap/dist/css/bootstrap.css'
export default {

    data() {
        return {
            manufacturerId: "",
            manufacturerName: "",
            manufacturerCountry: "",
            manufacturerAddress: "",
            manufacturerCity: "",
        };
    },
    methods: {
      updateManufacturer() {
        console.log("updateManufacturer");
        AXIOS.put("/manufacturers/"+this.manufacturerId, {
          name: this.manufacturerName,
          country: this.manufacturerCountry,
          manufacturerDetails: {
            address: this.manufacturerAddress,
            city: this.manufacturerCity,
          }
        },
        { 
          auth: {
             username:  this.$store.getters.getUserName,
             password:  this.$store.getters.getUserPass}
        }
        )
        .then(response => {
              console.log('Authenticated');
              console.log(response);
              this.$toasted.show("Manufacturer successfully updated..!");
              this.$emit('getAllManufacturersByPage');
              this.manufacturerId = "";
              this.manufacturerName = "";
              this.manufacturerCountry = "";
              this.manufacturerAddress = "";
              this.manufacturerCity = "";
        })
        .catch((error) => {
          if(error.response.status === 404 || error.response.status === 403){ 
            alert(error.response.data.message)
          } else {
          alert('Internal Error');
          }
          this.manufacturerId = "";
          this.manufacturerName = "";
          this.manufacturerCountry = "";
          this.manufacturerAddress = "";
          this.manufacturerCity = "";
          console.log(error.response.data)
          console.log(error.response.status)
          console.log(error.response.headers) 
        });
        console.log(this);
      }
    }
}

</script>

<style scoped>
h2,h5,h4 {
  text-align:left;
}
.card {
  max-width:350px;
}

.form-group {
  text-align:left;
  display:block; /* display not in-line */

}
.form-control {
  margin-left:0px;
  max-width:250px;
  margin-right:10px;
  margin-bottom:10px;
}
</style>
