<template>
            <div class="card">
              <div class="card-body">
                  <form @submit.prevent="addCarModel">
                    <h5> Add CarModel </h5>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Insert CarModel Name" v-model="carModelName"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Insert Make ID" v-model="makeId"/>
                        <input type="submit" class="btn btn-success" value="Add"/>
                    </div>
                    </form>
                  </div>
            </div>
</template>

<script>
import {AXIOS} from '@/components/http-commons.js'
import 'bootstrap/dist/css/bootstrap.css'
export default {

    data() {
        return {
            carModelName: "",
            makeId: "",
        };
    },
    methods: {
             addCarModel() {
              console.log("addCarModel");
              AXIOS.post("/makes/"+this.makeId+"/carmodels", {
                name: this.carModelName
              },
              { 
                auth: {
                username:  this.$store.getters.getUserName,
                password:  this.$store.getters.getUserPass
                      }
              }
              )
              .then(response => {
                    console.log(response)
                    console.log('Authenticated');
                    this.$toasted.show("Make successfully added..!");
                    this.$emit('getAllCarModelsByPage')
                    this.carModelName = "";
                    this.makeId = ""
              })
              .catch((error) => {
                if(error.response.status === 404 || error.response.status === 403){
                alert(error.response.data.message);
                  } else {
                  alert('Internal Error');
                }
                this.carModelName = "";
                this.makeId = ""
                console.log(error.response.data)
                console.log(error.response.status)
                console.log(error.response.headers) 
              });       
            }
    }
}

</script>

<style scoped>
h5 {
  text-align:left;
}
.card {
  max-width:400px;
}
.form-group {
  text-align:left;
  display:flex;

}
.form-control {
  margin-left:0px;
  max-width:250px;
  margin-right:10px;
}
</style>
