<template>
        <div class="card">
            <div class="card-body">
                <form @submit.prevent="deleteCarModel">
                <h5> Delete CarModel </h5>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Insert Carmodel ID" v-model="carModelId"/>
                    <input type="submit" class="btn btn-danger" value="Delete"/>
                </div>
                </form>
            </div>
        </div>
</template>

<script>
import {AXIOS} from '@/components/http-commons.js'
import 'bootstrap/dist/css/bootstrap.css'
export default {

    data() {
        return {
            carModelId: "",
        };
    },
    methods: {
        deleteCarModel() {
          console.log("deleteCarModel");
          AXIOS.delete("carmodels/"+this.carModelId,
              { 
                auth: {
                username:  this.$store.getters.getUserName,
                password:  this.$store.getters.getUserPass
                      }
              }
          )
          .then(response => {
                console.log(response);
                console.log('Authenticated');
                this.$toasted.show("CarModel successfully deleted..!");
                this.$emit('getAllCarModelsByPage')
                this.carModelId = ""
          })
          .catch((error) => {
              if(error.response.status === 404 || error.response.status === 403){ 
              alert(error.response.data.message)
            } else {
              alert('Internal Error');
            }
            this.carModelId = "" //When error occurs, text field is clear
            console.log(error.response.data)
            console.log(error.response.status)
            console.log(error.response.headers) 
          });
          console.log(this); 
        },
    }
}

</script>

<style scoped>
h5 {
  text-align:left;
}
.card {
  max-width:400px;
}
.form-group {
  text-align:left;
  display:flex;

}
.form-control {
  margin-left:0px;
  max-width:250px;
  margin-right:10px;
}
</style>
