<template>
    <div class="card">
        <div class="card-body">
            <h5> Search Make for CarModel </h5>
            <form @submit.prevent="getMakeForCarModel">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Write CarModel ID" v-model="carModelId"/>
                <input type="submit" class="btn btn-primary" value="Search"/>
            </div>
                <h6>Make ID for this Carmodel: <b>{{makeId}}</b></h6>
                <h6>Make Name for this Carmodel: <b>{{makeName}}</b></h6>
            </form>
        </div>
    </div>
</template>

<script>
import {AXIOS} from '@/components/http-commons.js'
import 'bootstrap/dist/css/bootstrap.css'
export default {

    data() {
        return {
            carModelId: "",
            makeId: "",
            makeName: "",
        };
    },
    methods: {
        getMakeForCarModel() {
          console.log("getMakeForCarModel");
          AXIOS.get("/carmodels/"+this.carModelId+"/make")
          .then(response => {
                console.log('Authenticated');
                this.makeId = response.data.id;
                this.makeName = response.data.name;
                if(this.makeId.length != 0){ //Don't show toasted when carModelsForMake=0
                this.$toasted.show("Make successfully found..!");               
                } 
                console.log(response.data)
          })
          .catch((error) => {
            if(error.response.status === 404 || error.response.status === 403){ 
              alert(error.response.data.message)
            } else {
            alert('Internal Error');
            }
            console.log(error.response.data)
            console.log(error.response.status)
            console.log(error.response.headers) 
          });
          console.log(this);
        },
    }
}
</script>

<style scoped>
h5,h6 {
  text-align:left;
}
.card {
  max-width:400px;
}
.form-group {
  text-align:left;
  display:flex;

}
.form-control {
  margin-left:0px;
  max-width:250px;
  margin-right:10px;
}
</style>
