<template>
  <div class="card">
    <div class="card-body">
      <h5>Search CarModel</h5>
      <form @submit.prevent="getCarModel">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Write CarModel ID" v-model="carModelId" />
          <input type="submit" class="btn btn-primary" value="Search" />
        </div>
        <div class="form-group">
          <h6>
            You are looking for CarModel:
            <b>{{carModelName}}</b>
          </h6>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import {AXIOS} from '@/components/http-commons.js'
import "bootstrap/dist/css/bootstrap.css";
export default {
  data() {
    return {
      carModelId: "",
      carModelName: ""
    };
  },
  methods: {
    getCarModel() {
      console.log("getCarModel");
        AXIOS.get("/carmodels/" + this.carModelId)
        .then(response => {
          this.carModelName = response.data.name;
          this.$toasted.show("CarModel successfully found..!");
          console.log(response.data.name);
        })
        .catch(error => {
          if(error.response.status === 404 || error.response.status === 403){ 
            alert(error.response.data.message)
          } else {
          alert('Internal Error');
          }
          console.log(error.response.data);
          console.log(error.response.status);
          console.log(error.response.headers);
        });
      console.log(this);
      this.carModelId = "";
    }
  }
};
</script>

<style scoped>
h5 {
  text-align: left;
}
.card {
  max-width: 400px;
}
.form-group {
  text-align: left;
  display: flex;
}
.form-control {
  margin-left: 0px;
  max-width: 250px;
  margin-right: 10px;
}
</style>
