<template>
    <div class="card">
        <div class="card-body">
        <h5> Edit Make for CarModel </h5>
        <form @submit.prevent="updateMakeForCarModel">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Write CarModel ID" v-model="carModelId"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Write Make ID" v-model="makeId"/>
                <input type="submit" class="btn btn-info" value="Edit"/>
            </div>
        </form>
        </div>
    </div>
</template>

<script>
import {AXIOS} from '@/components/http-commons.js'
import 'bootstrap/dist/css/bootstrap.css'
export default {

    data() {
        return {
            carModelId: "",
            makeId: "",
        };
    },
    methods: {
      updateMakeForCarModel() {
        console.log("updateMakeForCarModel");
        AXIOS.put("/makes/"+this.makeId+"/carmodels/"+this.carModelId, {},
              { 
                auth: {
                username:  this.$store.getters.getUserName,
                password:  this.$store.getters.getUserPass
                      }
              }
        )
        .then(response => {
              console.log(response);
              console.log('Authenticated');
              this.$toasted.show("CarModel successfully changed to another Make");
              this.$emit("setMakeId",this.makeId);
              this.$emit("searchCarModels");
              this.carModelId="";
              this.makeId="";
        })
        .catch((error) => {
          if(error.response.status === 404 || error.response.status === 403){ 
            alert(error.response.data.message)
          } else {
          alert('Internal Error');
          }
          this.carModelId="";
          this.makeId="";
          console.log(error.response.data)
          console.log(error.response.status)
          console.log(error.response.headers) 
        });
        console.log(this);
        },
    }
}

</script>

<style scoped>
h5,h6 {
  text-align:left;
}
.card {
  max-width:400px;
}
.form-group {
  text-align:left;
  display:flex;

}
.form-control {
  margin-left:0px;
  max-width:250px;
  margin-right:10px;
}
</style>
