<template>
  <div class="card">
      <div class="card-body">
      <h5> Edit CarModel </h5>
          <form @submit.prevent="updateCarModel">
          <div class="form-group"> 
              <input type="text" class="form-control" placeholder="Insert CarModel ID" v-model="carModelId"/>
          </div>
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Insert CarModel Name" v-model="carModelName"/>
              <input type="submit" class="btn btn-info" value="Edit"/>
          </div>
          </form>
      </div>
  </div>
</template>

<script>
import {AXIOS} from '@/components/http-commons.js'
import 'bootstrap/dist/css/bootstrap.css'
export default {

    data() {
        return {
            carModelId: "",
            carModelName: "",
        };
    },
    methods: {
      updateCarModel() {
        console.log("updateCarModel");
        AXIOS.put("/carmodels/"+this.carModelId, {
          name: this.carModelName },
          {
            auth: {
             username:  this.$store.getters.getUserName,
             password:  this.$store.getters.getUserPass  
            }
             })
        .then(response => {
              console.log(response);
              console.log('Authenticated');
              this.$toasted.show("CarModel successfully updated..!");
              this.$emit('getAllCarModelsByPage')
              this.carModelId = "";
              this.carModelName = ""
        })
        .catch((error) => {
          if(error.response.status === 404 || error.response.status === 403){ 
            alert(error.response.data.message)
          } else {
          alert('Internal Error');
          }
          this.carModelId = ""
          this.carModelName = ""
          console.log(error.response.data)
          console.log(error.response.status)
          console.log(error.response.headers) 
        });
        console.log(this);
      },
    }
}

</script>

<style scoped>
h5 {
  text-align:left;
}
.card {
  max-width:400px;
}
.form-group {
  text-align:left;
  display:flex;

}
.form-control {
  margin-left:0px;
  max-width:250px;
  margin-right:10px;
}
</style>
