<template>
  <div id="app">
    
    <ResponsiveNavigation
      v-bind:nav-links="navLinks"
      v-bind:imagePath="require('./assets/logo.png')"
      background="#fff"
      linkColor="#777"

    />
    <router-view></router-view>


  </div>
</template>

<script>
import ResponsiveNavigation from '@/components/ResponsiveNavigation'

export default {
  name: 'App',
  components: { 
    ResponsiveNavigation
  },
  data: () => ({
    navLinks: [
      {
        text: 'Manufacturers',
		path: '/manufacturers',
		icon: 'ion-ios-albums'
      },
      {
        text: 'Makes',
		path: '/makes',
		icon: 'ion-ios-albums'
      },
      {
        text: 'CarModels',
		path: '/carmodels',
		icon: 'ion-ios-albums'
      },
      {
        text: 'Contact',
		path: '/contact',
		icon: 'ion-ios-megaphone'
      },
      {
        text: 'Login',
		path: '/login',
		icon: 'ion-ios-lock'
      },
      {
        text: "Register",
		path: '/register',
		icon: 'ion-ios-lock'
      },
    ],
    msgApp : "Hello from App.vue"
  }),

}
</script>

<style lang="scss">
@import 'https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css';
figure {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 10px;
	margin-inline-end: 0;
}
body {
  margin: 0;
}

.logout{
  text-align:right;
  margin:2px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
}
</style>
