<template>
  <div class="card">
    <div class="card-body">
        <form @submit.prevent="addMake">
          <h5> Add Make </h5>
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Insert Make Name" v-model="makeName"/>
              <input type="submit" class="btn btn-success" value="Add"/>
          </div>
          </form>
        </div>
  </div>
</template>

<script>
import {AXIOS} from '@/components/http-commons.js'
import 'bootstrap/dist/css/bootstrap.css'
export default {

    data() {
        return {
            makeName: "",
        };
    },
    methods: {
      addMake() {
        console.log("addMake");
        AXIOS.post("/makes/", {
          name: this.makeName
        },
        { 
          auth: {
             username:  this.$store.getters.getUserName,
             password:  this.$store.getters.getUserPass
             }
        }
        )
        .then(response => {
              console.log(response);
              console.log('Authenticated');
              this.$toasted.show("Make successfully added..!");
              //this.$parent.getAllMakesByPage(); //$parent calls method from Parent component - Make
              this.$emit('getAllMakesByPage'); //At this moment I want to use Parent method - $emit
              this.makeName = ""
        })
        .catch((error) => {
          if(error.response.status === 404 || error.response.status === 403){ 
            alert(error.response.data.message)
          } else {
          alert('Internal Error');
          }
          console.log(error.response.data)
          console.log(error.response.status)
          console.log(error.response.headers) 
        });
        console.log(this);        
      }
    }
}

</script>

<style scoped>
h2,h5,h4 {
  text-align:left;
}
.card {
  max-width:350px;
}
.form-group {
  text-align:left;
  display:block;
}
.form-control {
  margin-left:0px;
  max-width:250px;
  margin-right:10px;
  margin-bottom:10px;
}
</style>
