<template>
  <div class="card">
    <div class="card-body">
        <form @submit.prevent="deleteMake">
          <h5> Delete Make </h5>
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Insert Make ID" v-model="makeId"/>
              <input type="submit" class="btn btn-danger" value="Delete"/>
          </div>
          </form>
      </div>
  </div>
</template>

<script>
import {AXIOS} from '@/components/http-commons.js'
import 'bootstrap/dist/css/bootstrap.css'
export default {
    data() {
    return {
        makeId: "",
    };
    },
    methods: {
      deleteMake() {
      console.log("deleteMake");
      AXIOS.delete("/makes/"+this.makeId,
        { 
          auth: {
             username:  this.$store.getters.getUserName,
             password:  this.$store.getters.getUserPass
             }
        }
      )
      .then(response => {
            console.log(response);
            console.log('Authenticated');
            this.$toasted.show("Make successfully deleted..!");
            this.$emit('getAllMakesByPage'); //At this moment I want to use Parent method - $emit
            this.makeId = ""
      })
      .catch((error) => {
        if(error.response.status === 404 || error.response.status === 403){ 
          alert(error.response.data.message)
        } else {
        alert('Internal Error');
        }
        this.makeId = "";
        console.log(error.response.data)
        console.log(error.response.status)
        console.log(error.response.headers) 
      });
      console.log(this); 
      },
    }
}

</script>

<style scoped>
h2,h5,h4 {
  text-align:left;
}
.card {
  max-width:350px;
}
.form-group {
  text-align:left;
  display:block;
}
.form-control {
  margin-left:0px;
  max-width:250px;
  margin-right:10px;
  margin-bottom:10px;
}
</style>
