<template>
  <div class="card">
      <div class="card-body">
      <h5> Delete Manufacturer for Make </h5>
      <form @submit.prevent="deleteManufacturerForMake">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Write Make ID" v-model="makeId"/>
          </div>
              <div class="form-group">
              <input type="text" class="form-control" placeholder="Write Manufacturer ID" v-model="manufacturerId"/>
              <input type="submit" class="btn btn-danger" value="Delete"/>
          </div>
      </form>
      </div>
  </div>
</template>

<script>
import {AXIOS} from '@/components/http-commons.js'
import 'bootstrap/dist/css/bootstrap.css'
export default {

    data() {
        return {
            makeId: "",
            manufacturerId: "",

        };
    },
    methods: {
      deleteManufacturerForMake() {
      console.log("deleteManufacturerForMake");
      AXIOS.delete("/makes/"+this.makeId+"/manufacturers/"+this.manufacturerId,
        { 
          auth: {
             username:  this.$store.getters.getUserName,
             password:  this.$store.getters.getUserPass
             }
        }
      )
      .then(response => {
            console.log(response);
            console.log('Authenticated');
            this.$toasted.show("Manufacturer successfully deleted from Make");
            this.$emit('setMakeId',this.makeId);
            this.$emit('searchManufacturers');
            this.makeId="";
            this.manufacturerId=""
      })
      .catch((error) => {
        if(error.response.status === 404 || error.response.status === 403){ 
          alert(error.response.data.message)
        } else {
        alert('Internal Error');
        }
        this.makeId="";
        this.manufacturerId="";
        console.log(error.response.data)
        console.log(error.response.status)
        console.log(error.response.headers) 
      });
      console.log(this);
      },
    }
}

</script>

<style scoped>
h2,h5,h4 {
  text-align:left;
}
.card {
  max-width:350px;
}
.form-group {
  text-align:left;
  display:block;
}
.form-control {
  margin-left:0px;
  max-width:250px;
  margin-right:10px;
  margin-bottom:10px;
}
</style>
