<template>
  <div class="card">
    <div class="card-body">
      <h5> Search Make </h5>
        <form @submit.prevent="getMake">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Write Make ID" v-model="makeId"/>
              <input type="submit" class="btn btn-primary" value="Search"/>
          </div>
          <div class="form-group">
              <h6>You are looking for Make: <b>{{makeName}}</b></h6>
          </div>
        </form>
    </div>
  </div>
</template>

<script>
import {AXIOS} from '@/components/http-commons.js'
import 'bootstrap/dist/css/bootstrap.css'
export default {

    data() {
        return {
            makeName: "",
            makeId: "",
        };
    },
    methods: {
      getMake() {
        console.log("getMake");
        AXIOS.get("/makes/"+this.makeId)
        .then(response => {
              console.log('Authenticated');
              this.makeName = response.data.name;
              this.$toasted.show("Make successfully found..!");
        })
        .catch((error) => {
          if(error.response.status === 404 || error.response.status === 403){ 
            alert(error.response.data.message)
          } else {
          alert('Internal Error');
          }
          console.log(error.response.data)
          console.log(error.response.status)
          console.log(error.response.headers) 
        });
        console.log(this);
        this.makeId = ""
      }
    }
}

</script>

<style scoped>
h2,h5,h4 {
  text-align:left;
}
.card {
  max-width:350px;
}
.form-group {
  text-align:left;
  display:block;
}
.form-control {
  margin-left:0px;
  max-width:250px;
  margin-right:10px;
  margin-bottom:10px;
}
</style>
