<template>
  <div class="card">
    <div class="card-body">
      <h5> Search Manufacturers for Make </h5>
      <form @submit.prevent="setMakeId">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Write Make ID" v-model="makeId"/>
              <input type="submit" class="btn btn-primary" value="Search"/>
          </div>
      </form>
    </div>
  </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css'

export default {

    data() {
        return {
            makeId: "",
        };
    },
    methods: {
      setMakeId() {
          //Here I just emit makeId and use search method in parent Component instead of making 2 search methods
          this.$emit("setMakeId",this.makeId);
          this.$emit("searchManufacturers")
      }
    }
}

</script>

<style scoped>
h2,h5,h4 {
  text-align:left;
}
.card {
  max-width:350px;
}
.form-group {
  text-align:left;
  display:block;
}
.form-control {
  margin-left:0px;
  max-width:250px;
  margin-right:10px;
  margin-bottom:10px;
}
</style>
