<template>
<div class="carModelPage">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2> List of CarModels </h2>
            <table class="content-table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="carModel in carModelsByPage" v-bind:key="carModel.id">
                  <td>{{ carModel.id }}</td>
                  <td>{{ carModel.name }}</td>
                </tr>
              </tbody>
            </table>
                <div>
                <pagination :pagination="pagination" 
                @prev="--postsData.pageNo; getAllCarModelsByPage();"
                @next="postsData.pageNo++; getAllCarModelsByPage();">
                </pagination>
                </div>
                <div>  
                <button class="main-page"  @click="goHome">Back to main page</button>
                </div>   
        </div>
        <div class="col">

          <addCarModel @getAllCarModelsByPage="getAllCarModelsByPage();" />

          <deleteCarModel @getAllCarModelsByPage="getAllCarModelsByPage();" />

          <updateCarModel @getAllCarModelsByPage="getAllCarModelsByPage();" />

          <searchCarModel />

          <searchMakeForCarModel />

            <div class="distance">
              <h4> CarModels for Make </h4>
            </div>

            <updateMakeForCarModel @setMakeId="setMakeId"
                             @searchCarModels="getCarModelsForMake();" />
 
            <searchCarModelsForMake @setMakeId="setMakeId"
                             @searchCarModels="getCarModelsForMake();" />

            <div class="distance">
              <h4> List of CarModels for Make: {{makeId}} </h4>
            </div>
        <table class="content-table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="carModelForMake in carModelsForMake" v-bind:key="carModelForMake.id">
              <td>{{ carModelForMake.id }}</td>
              <td>{{ carModelForMake.name }}</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
</div>
</template>

<script>
import {AXIOS} from './http-commons.js'
import pagination from './Pagination.vue'
import 'bootstrap/dist/css/bootstrap.css'
import addCarModel from '@/functions/CarModel/AddCarModel'
import deleteCarModel from '@/functions/CarModel/DeleteCarModel'
import updateCarModel from '@/functions/CarModel/UpdateCarModel'
import searchCarModel from '@/functions/CarModel/SearchCarModel'
import searchMakeForCarModel from '@/functions/CarModel/SearchMakeForCarModel'
import searchCarModelsForMake from '@/functions/CarModel/SearchCarModelsForMake'
import updateMakeForCarModel from '@/functions/CarModel/UpdateMakeForCarModel'

    export default {
        components: {
          'pagination' : pagination,
          'addCarModel' : addCarModel,
          'deleteCarModel' : deleteCarModel,
          'updateCarModel' : updateCarModel,
          'searchCarModel' : searchCarModel,
          'searchMakeForCarModel' : searchMakeForCarModel,
          'searchCarModelsForMake' : searchCarModelsForMake,
          'updateMakeForCarModel' : updateMakeForCarModel
        },

        data() {
            return {
                numberOfCarModels: "",
                carModelsByPage: [],
 
                makeId: "",
                carModelsForMake: [],

                postsData: {
                  pageNo: 0,
                  pageSize: 100,
                },

                pagination: {
                  prevPage: '',
                  nextPage: '',
                  totalPages: '',
                  from: '',
                  to: '',
                  total: '',
                },
                
            };
        },
        watch: {
            // call again the method if the route changes
            '$route': 'getAllCarModelsByPage' 
        },

        created() {
            //When we go to the page, this has to be created
            this.getAllCarModelsByPage()
        },
        
         methods: {
            setMakeId(makeId) {
              this.makeId = makeId;
            },

            getAllCarModelsByPage() {
            console.log("getCarModelsByPage");
            AXIOS.get("/carmodels",{params: this.postsData}) //You put user and pass inside http-commons.js
              .then(res => {
                this.numberOfCarModels = res.headers['number-of-all-carmodels'] //Taken from SPRING BOOT HTTPHeaders
                //console.log(this.numberOfCarModels);
                this.carModelsByPage = res.data;
                this.configPagination();
              })
              .catch((error) => {
                if(error.response.status === 404 || error.response.status === 403){ 
                  alert(error.response.data.message);
                } else {
                alert('Internal Error');
                }
                console.log(error.response.data)
                console.log(error.response.status)
                console.log(error.response.headers) 
              });
            },
            getCarModelsForMake() {
            console.log("getCarModelsForMake");
            AXIOS.get("/makes/"+this.makeId+"/carmodels")
            .then(response => {
                  this.carModelsForMake = response.data;
                  if(this.carModelsForMake.length != 0){ //Don't show toasted when carModelsForMake=0
                  this.$toasted.show("CarModels successfully found..!");                   
                  } 
                  console.log(response.data)
            })
            .catch((error) => {
            if(error.response.status === 404 || error.response.status === 403){ 
              alert(error.response.data.message);
            } else {
            alert('Internal Error');
            }
            console.log(error.response.data)
            console.log(error.response.status)
            console.log(error.response.headers) 
            });
            console.log(this);
            },

            goHome() {
                this.$router.push('/')
            },

            configPagination() {
               //It cannot take this value before invoking this method, If is used
              this.pagination.total = this.numberOfCarModels; //number of makes
              this.pagination.totalPages = Math.ceil(this.pagination.total / this.postsData.pageSize); //to make 92 sites, not 91.88site
              this.pagination.from = this.pagination.total ? ((this.postsData.pageNo)*this.postsData.pageSize)+1: '';
              this.pagination.to = ((this.postsData.pageNo+1) * this.postsData.pageSize) > this.pagination.total ? this.pagination.total : 
              (this.postsData.pageNo+1) * this.postsData.pageSize;
              this.pagination.prevPage = this.postsData.pageNo > -1 ? this.postsData.pageNo : '';
              this.pagination.nextPage = this.postsData.pageNo < this.pagination.totalPages ? this.postsData.pageNo +1 : '';
            }
        }
    } 
</script>


<style scoped>
* {
  font-family: sans-serif;
}
.carModelPage {
  margin-left:100px;
  margin-bottom:25px;
}
h2,h5,h4,h6 {
  text-align:left;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 25px; /**From the top 25px */
  font-size: 0.9em;
  min-width: 450px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.content-table thead tr {
  background-color: rgb(69, 77, 226);
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  text-align:left;
}

.content-table th {
  font-size:1.1em;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.main-page {
    text-align:left;
    margin: 5px 5px;
    font-size: 14px;
    box-shadow:5px 5px 5px #CCC;
    padding: 10px 10px;
}

.container {
  margin-top:20px;
  margin-left:0px;
  margin-bottom:20px;
}
.card {
  max-width:400px;
}
.form-group {
  text-align:left;
  display:flex;

}
.form-control {
  margin-left:0px;
  max-width:250px;
  margin-right:10px;
}

.distance {
  margin:20px;
  height:40px;
}

</style>
