<template>
  <div>

      <div class="container">
      <form @submit.prevent="login()">
        <div class="form-group">
          <h3>Login</h3>
          <input type="text" class="form-control" placeholder="Username" v-model="user" />
          <input type="password" class="form-control" placeholder="Password" v-model="password" />
          <div class="button-control">
            <input type="submit" class="btn btn-success" value="Login" />
          </div>
        </div>
      </form>
    </div>

    <div class="button-control">
      <input @click="resetPassword" size=10px class="btn btn-info" value="Reset Password" />
    </div>

    <div v-if="loginError">
      <h4>
        <b-badge variant="danger">Bad credentials</b-badge>
      </h4>
    </div>

    <div v-if="this.$store.state.loginSuccess">
      <h4>
        <b-badge variant="light">You're logged in</b-badge>
      </h4>
    </div>
  </div>
</template>

<script>
export default {
  name: "login",

  data() {
    return {
      loginError: false,
      user: "",
      password: "",
      error: false,
      errors: []
    };
  },
  methods: {
    login() {
      this.errors = [];
      this.$store
        .dispatch("login", { user: this.user, password: this.password })
        //Promise is necessary - without Promise is directing even with bad credentials
        //If Promise from store.js is -> resolved
        .then(() => {
          this.$router.push("/");
        })
        //If Promise from store.js is -> rejected
        .catch(error => {
          this.user = "";
          this.password = "";
          this.loginError = true;
          this.errors.push(error);
          this.error = true;
        });
    },
    resetPassword() {
      this.$router.push("/resetPassword")
    }
  }
};
</script>

<style scoped>
h3 {
  text-align: center;
}

.unprotected {
  margin: 10px;
}

.form-group {
  text-align: left;
  display: inline-block; /* sets into center*/
  max-width: 400px;
}

.container {
  margin-top: 25px;
  text-align: center;
}
.button-control {
  text-align: center;
}

.form-control {
  margin-left: 0px;
  margin-top: 25px;
  margin-bottom: 25px;
}
</style>