<template>
<div class="makePage">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2> List of Makes </h2>
            <table class="content-table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="make in makesByPage" v-bind:key="make.id">
                  <td>{{ make.id }}</td>
                  <td>{{ make.name }}</td>
                </tr>
              </tbody>
            </table>
                <div>
                <pagination :pagination="pagination" 
                @prev="--postsData.pageNo; getAllMakesByPage();"
                @next="postsData.pageNo++; getAllMakesByPage();">
                </pagination>
                </div>
                <div>  
                <button class="main-page"  @click="goHome">Back to main page</button>
                </div>     
        </div>
        <div class="col">

            <addMake @getAllMakesByPage="getAllMakesByPage();" /> 

            <deleteMake @getAllMakesByPage="getAllMakesByPage();" /> 

            <updateMake @getAllMakesByPage="getAllMakesByPage();" /> 

            <searchMake /> 

            <div class="distance">
              <h4> Manfacturers for Make </h4>
            </div>

            <addManufacturer @setMakeId="setMakeId"
                             @searchManufacturers="getManufacturersForMake();" />

            <deleteManufacturer @setMakeId="setMakeId"
                                @searchManufacturers="getManufacturersForMake();" />

            <searchManufacturers @setMakeId="setMakeId"
                                @searchManufacturers="getManufacturersForMake();" />

            <div class="distance">
              <h4> List of Manfacturers for Make: {{makeId}} </h4>
            </div>
        <table class="content-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Country</th>
              <th>Address</th>
              <th>City</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="manufacturer in manufacturers" v-bind:key="manufacturer.id">
              <td>{{ manufacturer.id }}</td>
              <td>{{ manufacturer.name }}</td>
              <td>{{ manufacturer.country }}</td>
              <td>{{ manufacturer.manufacturerDetails.address }}</td>
              <td>{{ manufacturer.manufacturerDetails.city }}</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
</div>
</template>

<script>
import {AXIOS} from './http-commons.js'
import pagination from './Pagination.vue'
import 'bootstrap/dist/css/bootstrap.css'
import addMake from '@/functions/Make/AddMake'
import deleteMake from '@/functions/Make/DeleteMake'
import updateMake from '@/functions/Make/UpdateMake'
import searchMake from '@/functions/Make/SearchMake'
import searchManufacturers from '@/functions/Make/SearchManufacturersForMake'
import addManufacturer from '@/functions/Make/AddManufacturerForMake'
import deleteManufacturer from '@/functions/Make/DeleteManufacturerForMake'

    export default {
        components: {
          'pagination' : pagination,
          'addMake' : addMake,
          'deleteMake' : deleteMake,
          'updateMake' : updateMake,
          'searchMake' : searchMake,
          'searchManufacturers' : searchManufacturers,
          'addManufacturer' : addManufacturer,
          'deleteManufacturer' : deleteManufacturer,
        },

        data() {
            return {
                makesByPage: [],
                numberOfMakes: "",

                manufacturers: [],
                makeId: "",

                postsData: {
                  pageNo: 0,
                  pageSize: 100,
                },

                pagination: {
                  prevPage: '',
                  nextPage: '',
                  totalPages: '',
                  from: '',
                  to: '',
                  total: '',
                },
                
            };
        },
        watch: {
            // call again the method if the route changes
            '$route': 'getAllMakesByPage' 
        },

        created() {
            //When we go to the page, this has to be created
            this.getAllMakesByPage()
        },
        
         methods: {
            setManufacturers(manufacturers) {
              this.manufacturers = manufacturers;
            },
            setMakeId(makeId) {
              this.makeId = makeId;
            },
            getAllMakesByPage() {
            console.log("getMakesByPage");
            AXIOS.get("/makes", {params: this.postsData})
            //axios.get("http://localhost:8080/makes", {params: this.postsData}) - cannot, because table would be without data
              .then(res => {
                this.numberOfMakes = res.headers['number-of-all-makes'] //Taken from SPRING BOOT HTTPHeaders
                this.makesByPage = res.data;
                this.configPagination();
              })
              .catch((error) => {
                if(error.response.status === 404 || error.response.status === 403){ 
                  alert(error.response.data.message);
                } else {
                alert('Internal Error');
                }
                console.log(error.response.data)
                console.log(error.response.status)
                console.log(error.response.headers) 
              });
            },
            getManufacturersForMake() {
            console.log(this.makeId);
            AXIOS.get("/makes/"+this.makeId+"/manufacturers")
            .then(response => {
                  this.manufacturers = response.data;
                  if(this.manufacturers.length != 0){ //Don't show toasted when manufacturers=0
                  this.$toasted.show("Manufacturers successfully found..!");
                  } else {
                      this.$toasted.show("No Manufacturers for this Make");
                  }
                  console.log(response.data)
            })
            .catch((error) => {
              if(error.response.status === 404 || error.response.status === 403){ 
                alert(error.response.data.message)
              } else {
              alert('Internal Error');
              }
              console.log(error.response.data)
              console.log(error.response.status)
              console.log(error.response.headers) 
            });
            console.log(this);
          },
            goHome() {
                this.$router.push('/')
            },

            configPagination() {
               //It cannot take this value before invoking this method, If is used
              this.pagination.total = this.numberOfMakes; //number of makes
              this.pagination.totalPages = Math.ceil(this.pagination.total / this.postsData.pageSize); //to make 92 sites, not 91.88site
              this.pagination.from = this.pagination.total ? ((this.postsData.pageNo)*this.postsData.pageSize)+1: '';
              this.pagination.to = ((this.postsData.pageNo+1) * this.postsData.pageSize) > this.pagination.total ? this.pagination.total : 
              (this.postsData.pageNo+1) * this.postsData.pageSize;
              this.pagination.prevPage = this.postsData.pageNo > -1 ? this.postsData.pageNo : '';
              this.pagination.nextPage = this.postsData.pageNo < this.pagination.totalPages ? this.postsData.pageNo +1 : '';
            }
        }
    } 
</script>


<style scoped>
* {
  font-family: sans-serif;
}
.makePage {
  margin-left:100px;
  margin-bottom:25px;
}
h2,h5,h4 {
  text-align:left;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 25px; /**From the top 25px */
  font-size: 0.9em;
  min-width: 450px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.content-table thead tr {
  background-color: rgb(69, 77, 226);
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  text-align:left;
}

.content-table th {
  font-size:1.1em;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.main-page {
    text-align:left;
    margin: 5px 5px;
    font-size: 14px;
    box-shadow:5px 5px 5px #CCC;
    padding: 10px 10px;
}
.container {
  margin-top:20px;
  margin-left:0px;
  margin-bottom:20px;
}

.distance {
  margin:20px;
  height:40px;
}

</style>
