<template>
<div class="manufacturerPage">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2> List of Manufacturers </h2>
            <table class="content-table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Country</th>
                  <th>Address</th>
                  <th>City</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="manufacturer in manufacturersByPage" v-bind:key="manufacturer.id">
                  <td>{{ manufacturer.id }}</td>
                  <td>{{ manufacturer.name }}</td>
                  <td>{{ manufacturer.country }}</td>
                  <td>{{manufacturer.manufacturerDetails && manufacturer.manufacturerDetails.address}}</td>
                  <td>{{manufacturer.manufacturerDetails && manufacturer.manufacturerDetails.city}}</td>
                </tr>
              </tbody>
            </table>
                <div>
                <pagination :pagination="pagination" 
                @prev="--postsData.pageNo; getAllManufacturersByPage();"
                @next="postsData.pageNo++; getAllManufacturersByPage();">
                </pagination>
                </div>
                <div>  
                <button class="main-page"  @click="goHome">Back to main page</button>
                </div>
                
        </div>
        <div class="col">
          <addManufacturer @getAllManufacturersByPage="getAllManufacturersByPage();" /> 

          <deleteManufacturer @getAllManufacturersByPage="getAllManufacturersByPage();" /> 

          <updateManufacturer @getAllManufacturersByPage="getAllManufacturersByPage();" /> 

          <searchManufacturer /> 

            <div class="distance">
              <h4> Makes for Manufacturer </h4>
            </div>

            <addMake @setManufacturerId="setManufacturerId"
                   @searchMakes="getMakesForManufacturer();" />

            <deleteMake @setManufacturerId="setManufacturerId"
                  @searchMakes="getMakesForManufacturer();" />

            <searchMakes @setManufacturerId="setManufacturerId"
                  @searchMakes="getMakesForManufacturer();" />

            <div class="distance">
              <h4> List of Makes for Manufacturer: {{manufacturerId}} </h4>
            </div>
        <table class="content-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="make in makes" v-bind:key="make.id">
              <td>{{ make.id }}</td>
              <td>{{ make.name }}</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
</div>
</template>

<script>
import {AXIOS} from './http-commons.js'
import pagination from './Pagination.vue'
import 'bootstrap/dist/css/bootstrap.css'
import addManufacturer from '@/functions/Manufacturer/AddManufacturer'
import deleteManufacturer from '@/functions/Manufacturer/DeleteManufacturer'
import updateManufacturer from '@/functions/Manufacturer/UpdateManufacturer'
import searchManufacturer from '@/functions/Manufacturer/SearchManufacturer'
import addMake from '@/functions/Manufacturer/AddMakeForManufacturer'
import deleteMake from '@/functions/Manufacturer/DeleteMakeForManufacturer'
import searchMakes from '@/functions/Manufacturer/SearchMakesForManufacturer'


    export default {
        components: {
          'pagination' : pagination,
          'addManufacturer' : addManufacturer,
          'deleteManufacturer' : deleteManufacturer,
          'updateManufacturer' : updateManufacturer,
          'searchManufacturer' : searchManufacturer,
          'addMake' : addMake,
          'deleteMake' : deleteMake,
          'searchMakes' : searchMakes,
        },

        data() {
            return {
                manufacturersByPage: [],
                numberOfManufacturers: "",

                makes: [],
                manufacturerId: "",

                postsData: {
                  pageNo: 0,
                  pageSize: 100,
                },

                pagination: {
                  prevPage: '',
                  nextPage: '',
                  totalPages: '',
                  from: '',
                  to: '',
                  total: '',
                },
                
            };
        },
        watch: {
            // call again the method if the route changes
            '$route': 'getAllManufacturersByPage' 
        },

        created() {
            //When we go to the page, this has to be created
            this.getAllManufacturersByPage()
        },
        
         methods: {
            setMakes(makes) {
              this.makes = makes;
            },
            setManufacturerId(manufacturerId) {
              this.manufacturerId = manufacturerId;
            },
            getAllManufacturersByPage() {
            console.log("getManufacturersByPage");

            AXIOS.get("/manufacturers", {params: this.postsData,  
            })
            //axios.get("http://localhost:8080/manufacturers", {params: this.postsData})
              .then(res => {
                //console.log(res.data); //res.headers
                this.numberOfManufacturers = res.headers['number-of-all-manufacturers'] //Taken from SPRING BOOT HTTPHeaders
                this.manufacturersByPage = res.data;
                this.configPagination();
              })
              .catch((error) => {
                if(error.response.status === 404 || error.response.status === 403){ 
                  alert(error.response.data.message);
                } else {
                alert('Internal Error');
                }
                console.log(error.response.data)
                console.log(error.response.status)
                console.log(error.response.headers) 
              });
            },
            getMakesForManufacturer() {
            console.log(this.manufacturerId);
            AXIOS.get("/manufacturers/"+this.manufacturerId+"/makes")
            .then(response => {
                  this.makes = response.data;
                  if(this.makes.length != 0){ //Don't show toasted when makes=0
                  this.$toasted.show("Makes successfully found..!");
                  } else {
                    this.$toasted.show("No Makes for this Manufacturer");
                  }
                  console.log(response.data)
            })
            .catch((error) => {
              if(error.response.status === 404 || error.response.status === 403){ 
                alert(error.response.data.message)
              } else {
              alert('Internal Error');
              }
              console.log(error.response.data)
              console.log(error.response.status)
              console.log(error.response.headers) 
            });
            console.log(this);
            },
            goHome() {
                this.$router.push('/')
            },
            configPagination() {
               //It cannot take this value before invoking this method, If is used
              this.pagination.total = this.numberOfManufacturers; //number of makes
              this.pagination.totalPages = Math.ceil(this.pagination.total / this.postsData.pageSize); //to manufacturer 92 sites, not 91.88site
              this.pagination.from = this.pagination.total ? ((this.postsData.pageNo)*this.postsData.pageSize)+1: '';
              this.pagination.to = ((this.postsData.pageNo+1) * this.postsData.pageSize) > this.pagination.total ? this.pagination.total : 
              (this.postsData.pageNo+1) * this.postsData.pageSize;
              this.pagination.prevPage = this.postsData.pageNo > -1 ? this.postsData.pageNo : '';
              this.pagination.nextPage = this.postsData.pageNo < this.pagination.totalPages ? this.postsData.pageNo +1 : '';
            }
        }
    } 
</script>

<style scoped>
* {
  font-family: sans-serif;
}
.manufacturerPage {
  margin-left:100px;
  margin-bottom:25px;
}
h2,h5,h4 {
  text-align:left;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 25px; /**From the top 25px */
  font-size: 0.9em;
  min-width: 450px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.content-table thead tr {
  background-color: rgb(69, 77, 226);
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  text-align:left;
}

.content-table th {
  font-size:1.1em;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.main-page {
    text-align:left;
    margin: 5px 5px;
    font-size: 14px;
    box-shadow:5px 5px 5px #CCC;
    padding: 10px 10px;
}

.container {
  margin-top:20px;
  margin-left:0px;
  margin-bottom:20px;
  min-width:1500px;
}

.distance {
  margin:20px;
  height:40px;
}

</style>
