<template>
    <nav class="pagination">
        <button class="button" v-if="pagination.prevPage" @click="$emit('prev')">
            Previous
        </button>
        <button class="button" v-else disabled>
            Previous
        </button>
        <div class="results">
                Results : {{pagination.from}} - {{pagination.to}} of {{pagination.total}}
        </div>
        <button class="button" v-if="pagination.nextPage" @click="$emit('next')">
            Next
        </button>
        <button class="button" v-else disabled>
            Next
        </button>
    </nav>
</template>

<script>
    export default {
        props: ['pagination'],
    }
</script>

<style scoped>
.pagination {
  text-align:left;
  margin-left:20px;
}
.button {
    margin: 5px 10px;
    font-size: 14px;
    box-shadow:5px 5px 5px #CCC;
    padding: 5px 10px;
    min-width: 100px;
}
.results {
    padding:15px;
    min-width:250px;
}

</style>