<template>
  <div>
    <div class="container">
      <form @submit.prevent="register()">
        <div class="form-group">
          <h3>Register</h3>
          <input type="text" class="form-control" placeholder="Username" v-model="user" />
          <input type="password" class="form-control" placeholder="Password" v-model="password" />
          <div class="button-control">
            <input type="submit" class="btn btn-info" value="Register" />
          </div>
        </div>
      </form>
    </div>

    <div v-if="registerError">
      <h4>
        <b-badge variant="danger">This user exists</b-badge>
      </h4>
    </div>

  </div>
</template>

<script>
export default {
  name: "Register",

  data() {
    return {
      registerError: false,
      user: "",
      password: "",
      error: false,
      errors: []
    };
  },
  methods: {
    register() {
      this.errors = [];
      this.$store
        .dispatch("register", { user: this.user, password: this.password })
        //Promise is necessary - without Promise is directing even with bad credentials
        //If Promise from store.js is -> resolved
        .then(() => {
          this.$router.push("/login");
        })
        //If Promise from store.js is -> rejected
        .catch(error => {
          this.user = "";
          this.password = "";
          this.registerError = true;
          this.errors.push(error);
          this.error = true;
        });
    }
  }
};
</script>

<style scoped>
h3 {
  text-align: center;
}

.unprotected {
  margin: 10px;
}

.form-group {
  text-align: left;
  display: inline-block; /* sets into center*/
  max-width: 400px;
}

.container {
  margin-top: 25px;
  text-align: center;
}
.button-control {
  text-align: center;
}

.form-control {
  margin-left: 0px;
  margin-top: 25px;
  margin-bottom: 25px;
}
</style>