<template>
  <div>
      <div class="container">
      <form @submit.prevent="resetPassword()">
        <div class="form-group">
          <h3>Reset Password</h3>
          <input type="text" class="form-control" placeholder="Username" v-model="user" />
          <input type="password" class="form-control" placeholder="Old password" v-model="oldPassword" />
          <input type="password" class="form-control" placeholder="New password" v-model="newPassword" />
          <div class="button-control">
            <input type="submit" class="btn btn-success" value="Change password" />
          </div>
        </div>
      </form>
    </div>

  </div>
</template>

<script>
import {AXIOS} from './http-commons.js'

export default {
  name: "ResetPassword",

  data() {
    return {
      user: "",
      oldPassword: "",
      newPassword: "",
    };
  },
  methods: {
    resetPassword() {
        this.errors = [];
        AXIOS.put("/users", { 
        userName:  this.user,
        oldPassword:  this.oldPassword,
        newPassword: this.newPassword
          })
            .then(response => {
            console.log(response);
            console.log('Statuscode: ' + response.status);
            if(response.status == 201 || response.status == 200){
                console.log("Changed password successfully")
                this.$toasted.show("Changed password successfully");
                this.$router.push("/login")
            }
      })
      .catch((error) => {
        if(error.response.status === 404){ 
            this.$toasted.show("Invalid old password !");
        } else if (error.response.status === 400) {
            this.$toasted.show("User does not exist !");
        } else {
            this.$toasted.show('Write new password !')
        }
        console.log(error.response.data)
        console.log(error.response.status)
        console.log(error.response.headers) 
      });
      console.log(this);
    }
  }
}
</script>

<style scoped>
h3 {
  text-align: center;
}

.unprotected {
  margin: 10px;
}

.form-group {
  text-align: left;
  display: inline-block; /* sets into center*/
  max-width: 400px;
}

.container {
  margin-top: 25px;
  text-align: center;
}
.button-control {
  text-align: center;
}

.form-control {
  margin-left: 0px;
  margin-top: 25px;
  margin-bottom: 25px;
}
</style>