<template>
  <div>
    <nav :style="{ background: background || '#333'}">
      <ul :style="{ background: background || '#333'}" ref="nav">
        <figure class="image-logo" v-on:click="toggleNav">
          <img v-bind:src="imagePath" height="40px" width="40px" />
        </figure>
        <li
        v-for="(link, index) in navLinks"
        :key="index"
        
        @mouseenter="$event.currentTarget.style.background = hoverBackground || '#999'"
        @mouseleave="$event.currentTarget.style.background = background || '#333'"
        >

        <router-link 
        :to="link.path"
        :style="{ color: linkColor || '#DDD' }"
        >
          {{ link.text}}
          <i :class="link.icon" />
        </router-link>
        </li>
          <div class="logout" v-if="this.$store.state.loginSuccess">
          <input @click="logout" size=5px class="btn btn-light" value="Logout" />
          </div>
      </ul>
    </nav> 

  </div>
</template>

<script>

export default {
  props: [
    'navLinks','background', 'linkColor', 'hoverBackground','msgFromApp','imagePath','text'
  ],
  methods: {
    toggleNav() {
      //We want to be able to access list of classes that belong to this element, because we're gonna add a class or remove a class
      const nav = this.$refs.nav.classList
      nav.contains('active') ? nav.remove('active') : nav.add('active')
    },
        logout(){
        this.$store.dispatch("logout");
        this.$router.push("/login")
    }
  }
}
</script>

<style scoped lang="scss">

.logout {
    float: right;
}
nav {
  height: 60px;
  width: 100%;
  box-shadow:2px 2px 2px #CCC;
}
ul {
  display: flex; /**Displaying in one line  */
  height: 100%;
  align-items: center; /** Alighs items into the center */
  margin-block-start: 0; /*On main page to reduce margin between grey bot to 0*/
  margin-block-end: 0;
  padding-inline-start:0;
  box-shadow:2px 2px 2px #CCC;

  a{
    text-decoration: none; //It stops highlighting icons - underline
    display:flex;
    flex-direction:row-reverse; /** It reverses - first Icon, then text */
    align-items: center;
  }

  i{
    margin-right: 10px;
    font-size: 22px;
  }

  figure {
    cursor:pointer; /**Gives a pointer into Vue logo */
    margin-right:10px;
  }

  li {
    list-style-type: none;
    padding: 10px 20px; /** Left,Right=5px, Top,Bottom=10px */
  }
}

@media screen and (max-width: 759px)  {
  nav { /**For mobile screen - left panel settings */
    ul {
      position:absolute;
      width:300px;
      flex-direction:column; 
      left:-240px; /**It created only small vertical line on 60px */
      transition: 300ms ease all;
      top:60px; /**That fixes problem, that logo from Vue was on icon, it gves it down by 60px */
      box-shadow:2px 2px 2px #CCC;

      /**Take of all the ul styles that was generated an add it togerther */
      &.active { /**When all from ul is active */
        left:0px;
      }

      li {
        width:100%;
        padding-left:0;
        padding-right:0;
      }

      figure {
        position:fixed;
        z-index:1; /**By default z-index=0, We want logo to be in front of icons, that index is 0 (rest of icons) */
        top:10px; /**10px from the top margin */
        left:2px; /**8px left margin */
      }

      a {
        flex-direction: row; /**Flips icons once again */
        margin-left:20px;
        justify-content: space-between; /**Icons are on right, text on left side */
        margin-right:13px;
      }
    }
  }
}

</style>


